@{
    ViewData["Title"] = "Ana Sayfa";
}
<style>
    .custom-jumbotron {
        background-color: #f8f9fa;
        padding: 5rem 2rem;
        border-radius: 0.3rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 2rem auto;
        max-width: 90%;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .custom-heading {
        font-family: 'Arial Black', sans-serif;
        color: #343a40;
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    .custom-hr {
        border-top: 5px solid #007bff;
        width: 50%;
        margin: 2rem auto;
    }
    .custom-paragraph {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #6c757d;
        font-size: 2rem;
        margin-top: 2rem;
    }
</style>

<div class="jumbotron text-center custom-jumbotron">
    <h1 class="display-4 custom-heading">Hoş Geldiniz</h1>
    <hr class="my-4 custom-hr" />
    <p class="custom-paragraph">İnternet Programcılığı-II Ödevi</p>
</div>
